@import './base.css';

body {
    font-family: var(--mainfonts);
    background-color: #eee;
   

}

.menu {
    display: none;
}

.header {
    background-color: #fff;
    padding: 20px 0;
   
   
}
.header .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6;
    align-items: center;
}

.header .logo img {
    width: 35px;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.header .nav li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.auth a {
    font-family: var(--subfonts);
    border-radius: 10px;
    font-weight: 700;
}

.auth .login {
    border: 2px solid var(--maincolor);
    padding: 5.3541765213012695px 40.18113136291504px;
}

.auth .Register {
    padding: 6.3541765213012695px 35.18113136291504px;
    background-color: var(--maincolor);
    color: #fff;
}

@media screen and (max-width:1200px) {

    .nav,
    .auth {
        display: none;
    }

    .menu {
        display: block;
        order: 2;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 50px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }
}

.lets-begins {
    background-color: #fff;
}

.lets-begins .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.right-courses {
    width: 341px;
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.right-courses span {
    font-family: var(--mainfonts);
    font-weight: 700;
    font-size: 50px;
    color: var(--maincolor);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information p:first-of-type {
    font-family: var(--subfonts);
    font-weight: 400;
    font-size: 10px;
    color: var(--maincolor);
}

.information h1 {
    font-size: 50px;
    font-weight: 700;

}

.information p:nth-child(3) {
    color: #969696;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--mainfonts);
}

.login {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.login a:first-of-type {
    color: #fff;
    background-color: var(--maincolor);
    font-size: 10px;
    font-weight: 700;
    font-family: var(--subfonts);
    padding: 7px 20px;
    border-radius: 5px;

}


.play-video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.play-video p {
    font-family: var(--subfonts);
    font-weight: 700;
    font-size: 12px;
}


.picture-of-girl {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.picture-of-girl img {
    width: 50%;
}
@media screen and (max-width:1200px) {
    .right-courses {
        
        width: 100%
    }
    .picture-of-girl{
        width: 100%;
        font-display: flex;
        justify-content: center;
    }
}

.WHAT-WE-GIVE {
    background: #f5f5f5;
    padding: 40px;
}

.WHAT-WE-GIVE .row {
    display: flex;


}

.course-coals {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.course-coals p:first-of-type {
    font-family: var(--subfonts);
    font-weight: 400;
    font-size: 10px;
    color: var(--maincolor);
}

.course-coals h2 {
    font-family: var(--mainfonts);
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

.course-coals p:last-of-type {
    color: #969696;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--mainfonts);
}

.course-features {
    display: flex;
    flex-grow: 1;
    gap: 1px;
    justify-content: space-evenly;

}

.course-features img {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.course-features p:first-of-type {
    font-family: var(--subfonts);
    font-weight: 700;
    font-size: 15px;
}

.course-features p:last-of-type {
    font-family: var(--mainfonts);
    font-weight: 400;
    font-size: 10px;
    color: #dddddd;
}

.Professional-Teacher,
.Course-Certificate,
.interesting-learning {
    width: 230px;
    height: 150px;
    background-color: var(--maincolor);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

@media screen and (max-width:1200px) {
    .WHAT-WE-GIVE .row {
        display: flex;
        flex-direction: column;
        width: 100%
    }
}

@media screen and (max-width:990px) {
    .course-features {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        justify-content: center;
    }
}

.SELECTED-COURSE {
    padding: 40px;
    background-color: var(--maincolor);
}

.SELECTED-COURSE .row {
    display: flex;
    gap: 10px;

}

.picture-of-people {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}


.picture-of-people img {
    width: 70%;
}

.People-Taking-Courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 349px;
    gap: 20px;
}

.info-SELECTED-COURSE {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.info-SELECTED-COURSE p:first-of-type {
    color: #f0c932;
    font-family: var(--subfonts);
    font-weight: 400;
    font-size: 10px;
}

.info-SELECTED-COURSE h2 {
    color: #fff;
    font-family: var(--mainfonts);
    font-weight: 700;
    font-size: 30px;
}

.info-SELECTED-COURSE p:last-of-type {
    color: #dddddd;
    font-family: var(--mainfonts);
    font-weight: 700;
    font-size: 12px;
}

.number {
    display: flex;
    justify-content: space-between
}

.number span {
    color: #f0c932;
    ;
    font-family: var(--subfonts);
    font-size: 15px;
    font-weight: 700;
}

.number p {
    color: #dddddd;
    font-family: var(--subfonts);
    font-size: 10px;
    font-weight: 400;
}

@media screen and (max-width:1200px) {
    .SELECTED-COURSE .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
       
    }

    .picture-of-people {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:769px) {
    .picture-of-people img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .People-Taking-Courses {
        width: 100%;

    }

    .number {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

}

.courses {
    padding: 20px;
    background-color: #fff;

}

.courses .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course-items,
.course-description {
    width: calc((100% - 20px) /2);
}

.course-items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.course-items .course {
    width: calc((100% - 40px) /2);
}

.course-card {
    position: relative;

}

.course-card img {
    width: 100%;
    filter: brightness(50%);

}

.course-card span:nth-child(1) {
    background-color: var(--maincolor);
    padding: 3px;

}

.course-card span:last-of-type {
    align-self: flex-end;
}

.course-info {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
}


.course-details .row:last-of-type {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-family: 20px;
    font-weight: 500;
    color: #969696;
    ;
}

.views {
    font-size: 15px;
    font-weight: 400;
    color: var(--maincolor);
}

.courses .row:first-of-type {
    align-items: flex-start;
}

.course-description {
    flex-direction: column;
    display: flex;
    gap: 30px;

}

.course-description p:first-of-type {
    font-family: var(--subfonts);
    color: var(--maincolor);
    font-size: 10px;
}

.course-description h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: var(--mainfonts);
}

.course-description .desc {
    color: #969696;
    font-size: 15px;
    font-family: var(--mainfonts);
    font-weight: 600;
}

.course-description a {
    background-color: var(--maincolor);
    width: 70px;
    height: 20px;
    font-family: var(--subfonts);
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .course-items {
        width: 100%;
    }

    .course-description {
        width: 100%;
    }
}

@media screen and (max-width:796px) {
    .course-items {
        display: flex;
        flex-direction: column;
        gap: 20px;


    }



}

.testimonial1::after {
    content: '';
    border-bottom: 40px solid transparent;
    border-top: 40px solid #e8e5e5;
    border-right: 40px solid #e8e5e5;
    border-left: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
   

}

.testimonial {

    padding: 50px 0;
    background-color: #fff;
}

.testimonial h2 {
    text-align: center;
}

.testimonial .row {
    gap: 40px;
}

.testimonial1 {
    width: calc((100% - 40px) /2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    ;
    position: relative;
}
.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

.rate {
    display: flex;
    gap: 1px;
}



@media screen and (max-width:768px) {

    .testimonial1,
    .testimonial2 {
        width: 100%;
    }
}

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer .row {
    gap: 20px;
}

.footer .footer-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    width: calc((100% - 20px) / 2);

}

.footer-start .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6px;
}

.footer-start .logo img {
    width: 35px;
}

.footer-start .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-start .icons img {
    border: 2px solid #fff;
    width: 40px;
    height: 35px;
}

.footer-end {
    width: calc((100% - 20px) / 2);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-end .footer-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-items nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-items nav a {
    font-size: 15px;
}

.footer-end h2 {
    font-size: 20px;
}

@media screen and (max-width :768px) {
    .footer .row {
        flex-direction: column;
    }

    .footer .footer-start,
    .footer-end {
        width: 100%;

    }

    .footer-end {
        gap: 10px;
    }

    .footer-end .footer-items {
        width: calc((100% - 10px) / 4);
    }

}

@media screen and (max-width :577px) {
    .footer-end {
        gap: 10px;
    }

    .footer-end .footer-items {
        width: calc((100% - 10px) / 3);
    }
}

@media screen and (max-width :470px) {

    .footer-end .footer-items {
        width: 100%;
        text-align: center;
    }
}